@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #F8F1E9;
  --dark-color: #D8C8B8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

// iPhone X notch fix


html, body {
  margin: 0;
  height: -webkit-fill-available;
  max-height: 100vh;
}

body {
  // animation: fadeIn 2s ease-in;
}

body.noscroll {
  overflow: hidden;
  height: 100%;
}

.content {
  height: 100%;
}

@media (min-width: 768px) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// Tweeks for recharts, it's here because it's a global style

// .recharts-cartesian-axis-line {
//   display: none;
// }

// .recharts-cartesian-axis-tick-line {
//   display: none;
// }

// .recharts-surface {
//   overflow-x: visible;
//   overflow-y: hidden;
//   clip-path: inset(0 0 0 5%);
// }

// .recharts-line-curve {
//   stroke: var(--dark-color);
//   clip-path: inset(0 0 0 12.5%);
// }

// .recharts-line-dots * {
//   fill: var(--main-color);
//   stroke: var(--main-color);

//   &::after {
//     content: '';
//     display: block;
//     width: 140px;
//     height: 140px;
//     background-color: var(--dark-color);
//     border-radius: 50%;
//   }
// }

// circle:nth-child(1)::after {
//   content: '';
//   position: absolute;
//   left: 50px; /* Circle cx position */
//   top: 60px;  /* Circle cy position + radius */
//   width: 2px;
//   height: 60px; /* Length of the line */
//   background-color: black; /* Color of the line */
// }

.recharts-line {
  // transform: translateY(27px);
}

// text above the line
.recharts-label-list * {
  // transform: translateY(-12px);
  // transition: all 1s;
  // // opacity from 0 to 1
  // animation: fadeIn 1s;
  // fill: var(--main-color);
  // stroke: var(--main-color);
  // overflow: visible;
}

// fixing the placements
// .recharts-cartesian-axis-tick-value {
//   font-size: 1.3rem;
//   fill: var(--dark-color);
//   // stroke: $recharts-dark-color;
//   stroke-width: 0.3;
//   animation: fadeIn 1s;
// }

.recharts-xAxis {
  // transform: translate(-25px, -40%);
}
.recharts-surface {
  // transform: translateX(-25px);
}

// .recharts-cartesian-axis-ticks *:last-child {
//   transform: translateX(10px);
// }

// @media (min-width: 1125px) {
//   .recharts-cartesian-axis-tick-value {
//     font-size: 1.5rem;
//   }
  
//   .recharts-xAxis {
//     transform: translate(-45px, -47%);
//     margin-top: 5px;
//   }
//   .recharts-line {
//     transform: translate(-25px, 13px);
//   }
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
