.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding-bottom: 15px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
.title {
  font-size: clamp(1.1rem, 2.4vw + 0.4rem, 1.8rem);
  padding-top: 5px;
}
.subtitle {
  font-size: clamp(0.9rem, 1.8vw + 0.3rem, 1.1rem);
}
.description {
  font-size: clamp(0.8rem, 1.4vw + 0.4rem, 1rem);
  // white-space: normal;
  // overflow-wrap: anywhere;
  text-align: center;
  line-height: 10px;
}
