.headline {
  color: #ffff;
  display: flex;
}
.title {
  font-size: 2rem;
  padding-bottom: 21px;
}
.temperatures {
  display: flex;
}
.temp {
  padding-right: 22px;
  display: flex;
  font-weight: 300;
  // mix-blend-mode: difference;
  > span {
    font-size: 50px;
    font-weight: 300;
  }
}
.highlow {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.mini {
  height: auto;
  width: 120px;
    padding: 0 17px 0 12px;
  // width: 90px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--dark-color);
  // padding: 0 8px 0 8px;
  margin-bottom: 7px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    padding-right: 5px;
  }

  span:last-child {
    font-size: 20px;
    font-weight: 200;
  }
}

// mobile first media query
@media (min-width: 768px) {
  // .headline {
  //   flex-direction: row;
  //   justify-content: space-between;
  // }
  .title {
    font-size: 4.5rem;
  }
  .highlow {
    padding-top: 12px;
  }
  .mini {
    width: 120px;
    padding: 0 17px 0 12px;
  }
}